.search {
    &__wrapper {
        top: 124px;
        z-index: 400;
        position: absolute;
        left: 1.4vw;
    }
    &__container {
        position: relative;
        width: 300px;
        height: 140px;
        // background-color: white;
        border-radius: 20px;
    }
    &__input {
        width: 100%;
        padding: 0 0 12px 0;
        & input {
            position: relative;
            font-size: 16px;
            border: none;
            height: 36px;
            width: 100%;
            border-radius: 4px;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
            padding-left: 8px;
        }
        & img {
            cursor: pointer;
            transform: translateX(1100%) translateY(-120%);
            position: absolute;
            max-width: 24px;
            height: auto;
        }
    }
    &__button {
        position: absolute;
        height: 36px;
        width: 100%;
        bottom: 4px;
        border: none;
        border-radius: 4px;
        background-color: rgb(0, 0, 0);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
    }
}
