.MyPosition {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: rgba($color: rgb(0, 0, 0), $alpha: 1);
    z-index: 1000;
    bottom: 1.4vw;
    left: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
        width: 60%;
        height: auto;
    }
}
